/* Reset CSS cơ bản */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #ee0909;
    color: #3617c3;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
}

section img {
    max-width: 100%;
    height: auto;
}

.project {
    background: #18e652;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.imageChange {
    max-width: 4px;
    height: 4px;
}
